# Ignore temporary files
*.log
*.tmp
*.bak
.DS_Store

# Ignore data not meant for version control
data/processed/
data/raw/
data/temp/

# Keep AOI and labels
!data/aoi/
!data/labels/

# Ignore Python cache and virtual envs
__pycache__/
*.pyc
.env/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

